<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
    <h1>Txt2Ppt</h1>
    <h4>Each text line will generate one PPT slide.</h4>
    <p>To add <strong>bold</strong> style to a word, enclose this word with **. e.g: **this text will be bold**</p>
    <p>To add <span style="font-style:italic">italic</strong> style to a word, enclose this word with *. e.g: *this text will be italic**</p>
    <!--
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}
    --> 
    <form action="/ppt?username={{ username }}" method="post">
      <div><textarea name="content" rows="30" cols="80" required></textarea></div>
      <div><p align="left">Font size:<input type="text" name="fontsize" value="30" size="2"> Font color:<input type="color" name="fontcolor"> Background color:<input type="color" name="bgcolor" value="#FFFFFF"></p></div>
      <div><input type="submit" style="font-size:20px" value="Generate PPT"></div>
    </form>
<!--
    <hr>

    <form>Username:
      <input value="{{ username }}" name="username">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
-->
    <p style="font-size: 10px">Copyright <a href="http://marketing4nerds.com" target="_blank">Marketing4Nerds.com</a>
 2014</p>  </body>
</html>
{% endautoescape %}
